### IntelliJ ###
build/
out/
.idea/
*.iml
*.iws
*.ipr

### Gradle ###
build/
.gradle
.gradle/4.2.1
gradle/
gradlew*

### Maven ###
target/

### Dev ###
local.properties
application-local.yml

### macOS ###
*.DS_Store

### Misc ###
*.log
